.pricing-container {
    border: 1px solid #E8E8E8;
    height: 15vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1vw;
}

.image-name {
    display: flex;
    align-items: center;
    align-self: center;
    height: calc(100% / 3);
    width: 80%;
    color: #212121;
    font-weight: 600;
    font-size: 1.2vw;
}

.image-price {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: calc(100% / 2);
    border-top: 1px solid #E8E8E8;
    border-radius: 0 0 10px 10px;
    color: #212121;
}

.label-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 50%;
}

.input-label-container {
    display: flex;
    width: 50%;
    height: 100%;
}

.input-label-container input[type="radio"] {
    accent-color: #F68B1E;
    width: 1vw;
    height: 1vw;
    margin-right: 10px;
    margin-top: 0.4vh;
    border: 1px solid #212121;
    border-radius: 50%;
    appearance: none;
    outline: none;
    cursor: pointer;
}

input[type="radio"]:checked {
    border-color: #212121;
    background-color: #F68B1E;
}

.info-container {
    font-weight: 400;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #212121;
}

.dimensions {
    color: #7C7C7C;
    font-size: 0.8vw;
}

.price-container {
    font-weight: 400;
    font-size: 1vw;
    height: 100%;
}

@media (max-width: 768px) {
    .pricing-container {
        height: 30vw;
        margin-bottom: 10px;
    }

    .image-name {
        font-size: 3vw;
    }

    .price-container {
        font-size: 3vw;
    }

    .input-label-container input[type="radio"] {
        width: 3vw;
        height: 3vw;
        margin-top: 0.8vw;
    }

    .info-container {
        font-size: 3vw;
    }

    .dimensions {
        font-size: 2vw;
    }
}

@media (max-width: 420px) {
    .pricing-container {
        height: 40vh;
        margin-bottom: 10px;
    }

    .image-name {
        font-size: 5vw;
    }

    .price-container {
        font-size: 5vw;
    }

    .input-label-container input[type="radio"] {
        width: 5vw;
        height: 5vw;
        margin-top: 0.8vw;
    }

    .info-container {
        font-size: 5vw;
    }

    .dimensions {
        font-size: 2.5vw;
    }
}